@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

sidebar{
    background-color: #1992D4;
    display: grid;
    row-gap: 3%;
    grid-column: 1/2; 
}
.logo{
    height: 10%;
    display: flex;
    align-items: center;
    gap: 6%;
    padding-left: 5%;
}
.logo span{
    font-family: "Roboto";
    color: white;
    font-size: 2.3rem;
    font-weight: 800;
}